---
layout: page
---

<style>
.fc-day-number {
  text-align: left !important;
}
.a447 {
  background-color: red;
}
</style>

{{ content }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.css" />
<div class="row">
  <div class="col-md-12">
    <div id='calendar'></div>
  </div>
</div>

<style>
.fc-day {
  text-align: right !important;
}
</style>


<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.4.0/ical.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.5.1/main.global.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/add-to-calendar.min.js"></script>
<script>
 document.addEventListener('DOMContentLoaded', function() {
   var calendarEl = document.getElementById('calendar');
   calendar = new FullCalendar.Calendar(calendarEl, {
     timeZone: 'UTC', 
     headerToolbar: {
       left: 'prev,next today',
       center: 'title',
       right: 'dayGridMonth,timeGridWeek,timeGridDay,listAll'
     },
     resources: [{
        id: 'all',
        title: 'All HPC Social Events'
     }],
     buttonText: {
       week: 'week',
       day: 'day',
       year: 'list'
     },
     eventSources: [{
       resourceId: 'all',
       url: "{{ site.url }}{{ site.baseurl }}/calendars/all.ical",
       format: "ics",
     }],
     eventClick: function(info) {
       console.log('TODO vsoch make me pretty!')
     },
     eventRender: function(event, eventElement) {
      console.log(event)
      // if (event.title == "Booked") {
      //  eventElement.css('background-color', 'green');
      // }
    },
     dateClick: function(info) {
       if (calendar.view.type != "timeGridDay") {
         calendar.changeView('timeGridDay', info.dateStr);
       }
     },
     navLinks: true,
     navLinkDayClick: function(date, jsEvent) {
       if (calendar.view.type != "timeGridDay") {
         calendar.changeView('timeGridDay', date);
       }
     },
     weekNumbers: true,
     navLinkWeekClick: function(weekStart, jsEvent) {
       if (calendar.view.type != "timeGridWeek") {
         calendar.changeView('timeGridWeek', weekStart);
       }
     },
     slotDuration: "00:15",
     dayMaxEvents: true, // allow "more" link when too many events
     views: {
       listAll: {
         type: "list",
       }
     },
     eventDidMount: function(arg) {
       arg.el.setAttribute("title", arg.event.title);
     }
   });
  calendar.render();
});
</script>
